<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!loadingSkeleton">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="area" appLabel label="Area de estudios:"
                   [required]="isRequired(areaField)"
                   [valid]="areaField.valid"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </label>
            <p-dropdown id="area"
                        dataKey="id"
                        [options]="areas"
                        formControlName="area"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="areaField.value">
                  <div>{{areaField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="areaField.errors"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="institution" appLabel label="Institución:"
                   [required]="isRequired(institutionField)"
                   [valid]="institutionField.valid"
                   [touched]="institutionField.touched"
                   [dirty]="institutionField.dirty"></label>
            <input pInputText id="institution" formControlName="institution" class="text-uppercase">
            <small appErrorMessage
                   [errors]="institutionField.errors"
                   [touched]="institutionField.touched"
                   [dirty]="institutionField.dirty">
            </small>
          </div>
        </div>

        <div class="field">
          <label for="name" appLabel label="Nombre del evento:"
                 [required]="isRequired(nameField)"
                 [valid]="nameField.valid"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty">
          </label>
          <input pInputText id="name" formControlName="name" class="text-uppercase">
          <small appErrorMessage
                 [errors]="nameField.errors"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty">
          </small>
        </div>

        <div class="field">
          <label for="description" appLabel label="Descripción:"
                 [required]="isRequired(descriptionField)"
                 [valid]="descriptionField.valid"
                 [touched]="descriptionField.touched"
                 [dirty]="descriptionField.dirty">
          </label>
          <input pInputText id="description" formControlName="description" class="text-uppercase">
          <small appErrorMessage
                 [errors]="descriptionField.errors"
                 [touched]="descriptionField.touched"
                 [dirty]="descriptionField.dirty">
          </small>
        </div>

        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="type" appLabel label="Tipo de evento:"
                   [required]="isRequired(typeField)"
                   [valid]="typeField.valid"
                   [touched]="typeField.touched"
                   [dirty]="typeField.dirty">
            </label>
            <p-dropdown id="type"
                        dataKey="id"
                        [options]="types"
                        formControlName="type"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="typeField.value">
                  <div>{{typeField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="typeField.errors"
                   [touched]="typeField.touched"
                   [dirty]="typeField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="certificationType" appLabel label="Tipo de certificado:"
                   [required]="isRequired(certificationTypeField)"
                   [valid]="certificationTypeField.valid"
                   [touched]="certificationTypeField.touched"
                   [dirty]="certificationTypeField.dirty"></label>
            <p-dropdown id="certificationType"
                        dataKey="id"
                        [options]="certificationTypes"
                        formControlName="certificationType"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="certificationTypeField.value">
                  <div>{{certificationTypeField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="certificationTypeField.errors"
                   [touched]="certificationTypeField.touched"
                   [dirty]="certificationTypeField.dirty">
            </small>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="hours" appLabel label="Horas:"
                   [required]="isRequired(hoursField)"
                   [valid]="hoursField.valid"
                   [touched]="hoursField.touched"
                   [dirty]="hoursField.dirty">
            </label>
            <p-inputNumber id="hours" formControlName="hours" mode="decimal" [showButtons]="true"
                           [min]="0" [max]="1000" [step]="10">
            </p-inputNumber>
            <small appErrorMessage
                   [errors]="hoursField.errors"
                   [touched]="hoursField.touched"
                   [dirty]="hoursField.dirty">
            </small>
          </div>
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="startedAt" appLabel label="Fecha de inicio:"
                   [required]="isRequired(startedAtField)"
                   [valid]="startedAtField.valid"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </label>
            <p-calendar id="startedAt" formControlName="startedAt" dateFormat="yy-mm-dd"
                        [yearRange]="yearRange"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="startedAtField.errors"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </small>
          </div>
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="endedAt" appLabel label="Fecha de fin:"
                   [required]="isRequired(endedAtField)"
                   [valid]="endedAtField.valid"
                   [touched]="endedAtField.touched"
                   [dirty]="endedAtField.dirty">
            </label>
            <p-calendar id="endedAt" formControlName="endedAt" dateFormat="yy-mm-dd"
                        [yearRange]="yearRange"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="endedAtField.errors"
                   [touched]="endedAtField.touched"
                   [dirty]="endedAtField.dirty">
            </small>
          </div>
        </div>

        <p-divider></p-divider>

        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div *ngIf="progressBar" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
