<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!loadingSkeleton">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngIf="titleField.value" class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="title" appLabel label="Titulo:"
                   [required]="isRequired(titleField)"
                   [valid]="titleField.valid"
                   [touched]="titleField.touched"
                   [dirty]="titleField.dirty"></label>
            <input pInputText id="title" formControlName="title">
            <small appErrorMessage
                   [errors]="titleField.errors"
                   [touched]="titleField.touched"
                   [dirty]="titleField.dirty">
            </small>
          </div>
          <div *ngIf="descriptionField.value" class="formgrid grid">
            <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="description" appLabel label="Descripcion:"
                     [required]="isRequired(descriptionField)"
                     [valid]="descriptionField.valid"
                     [touched]="descriptionField.touched"
                     [dirty]="descriptionField.dirty"></label>
              <input pInputText id="description" formControlName="description">
              <small appErrorMessage
                     [errors]="descriptionField.errors"
                     [touched]="descriptionField.touched"
                     [dirty]="descriptionField.dirty">
              </small>
            </div>
            <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
              <label for="actCode" appLabel label="Codigo de acta:"
                     [required]="isRequired(actCodeField)"
                     [valid]="actCodeField.valid"
                     [touched]="actCodeField.touched"
                     [dirty]="actCodeField.dirty"></label>
              <input pInputText id="actCode" formControlName="actCode">
              <small appErrorMessage
                     [errors]="actCodeField.errors"
                     [touched]="actCodeField.touched"
                     [dirty]="actCodeField.dirty">
              </small>
            </div>
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
          <label for="approvedAt" appLabel label="Fecha de aprobacion:"
                 [required]="isRequired(approvedAtField)"
                 [valid]="approvedAtField.valid"
                 [touched]="approvedAtField.touched"
                 [dirty]="approvedAtField.dirty">
          </label>
          <p-calendar id="approvedAt" formControlName="approvedAt" dateFormat="yy-mm-dd"
                      [yearRange]="'1900:2021'"
                      [showIcon]="true"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      [readonlyInput]="true"></p-calendar>
          <small appErrorMessage
                 [errors]="approvedAtField.errors"
                 [touched]="approvedAtField.touched"
                 [dirty]="approvedAtField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
          <label for="approved" appLabel label="¿Aprovado?:"
                 [required]="isRequired(approvedField)"
                 [valid]="approvedField.valid"
                 [touched]="approvedField.touched"
                 [dirty]="approvedField.dirty"></label>
          <input pInputText id="approved" formControlName="approved">
          <small appErrorMessage
                 [errors]="approvedField.errors"
                 [touched]="approvedField.touched"
                 [dirty]="approvedField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
          <label for="observations" appLabel label="Observaciones:"
                 [required]="isRequired(observationsField)"
                 [valid]="observationsField.valid"
                 [touched]="observationsField.touched"
                 [dirty]="observationsField.dirty"></label>
          <input pInputText id="observations" formControlName="observations">
          <small appErrorMessage
                 [errors]="observationsField.errors"
                 [touched]="observationsField.touched"
                 [dirty]="observationsField.dirty">
          </small>
        </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="registeredAt" appLabel label="Fecha de registro:"
                   [required]="isRequired(registeredAtField)"
                   [valid]="registeredAtField.valid"
                   [touched]="registeredAtField.touched"
                   [dirty]="registeredAtField.dirty">
            </label>
            <p-calendar id="registeredAt" formControlName="registeredAt" dateFormat="yy-mm-dd"
                        [yearRange]="yearRange"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="registeredAtField.errors"
                   [touched]="registeredAtField.touched"
                   [dirty]="registeredAtField.dirty">
            </small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div *ngIf="progressBar" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
