<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

      <div [ngSwitch]="activeIndex">
        <app-profile *ngSwitchCase="0"></app-profile>
        <app-course *ngSwitchCase="1"></app-course>
        <app-academic-formation *ngSwitchCase="2"></app-academic-formation>
        <app-experience *ngSwitchCase="3"></app-experience>
        <app-reference *ngSwitchCase="4"></app-reference>
        <app-skill *ngSwitchCase="5"></app-skill>
        <app-language *ngSwitchCase="6"></app-language>
        <div *ngSwitchCase="7" class="text-center mt-6">
          <button pButton pRipple label="Descargar Certificado" (click)="downloadCertificate()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
