<div class="container-fluid">
  <p-toolbar *ngIf="!skeletonLoading" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <i class="pi pi-times p-button p-button-text" [routerLink]="['/job-board/professional/experience']"
         style="font-size: 2rem; color: #fff"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="skeletonLoading" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!skeletonLoading">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="area" appLabel label="Area de Estudios:"
                   [required]="true"
                   [valid]="areaField.valid"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </label>
            <p-dropdown id="area"
                        [options]="areas"
                        formControlName="area"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="areaField.value">
                  <div>{{areaField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="areaField.errors"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="employer" appLabel [required]="true" label="Nombre de empleador/a:" [valid]="employerField.valid"
                   [touched]="employerField.touched" [dirty]="employerField.dirty"></label>
            <input pInputText id="employer" formControlName="employer">
            <small appErrorMessage
                   [errors]="employerField.errors"
                   [touched]="employerField.touched"
                   [dirty]="employerField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="activities" appLabel [required]="true" label="Ocupaciones:" [valid]="activitiesField.valid"
                   [touched]="activitiesField.touched" [dirty]="activitiesField.dirty"></label>
            <input pInputText id="activities" formControlName="activities">
            <small appErrorMessage
                   [errors]="activitiesField.errors"
                   [touched]="activitiesField.touched"
                   [dirty]="activitiesField.dirty">
            </small>
          </div>
        </div>  
    </div>

        <div class="field">
          <label for="position" appLabel label="Posicion"
                 [required]="true"
                 [valid]="positionField.valid"
                 [touched]="positionField.touched"
                 [dirty]="positionField.dirty">
          </label>
          <input pInputText id="position" formControlPosition="position">
          <small appErrorMessage
                 [errors]="positionField.errors"
                 [touched]="positionField.touched"
                 [dirty]="positionField.dirty">
          </small>
        </div>

        <div class="field">
          <label for="reasonLeave" appLabel label="Razon por la que se fue del trabajo:"
                 [valid]="reasonLeaveField.valid"
                 [touched]="reasonLeaveField.touched"
                 [dirty]="reasonLeaveField.dirty">
          </label>
          <input pInputText id="reasonLeave" formControlName="reasonLeave">
          <small appErrorMessage
                 [errors]="reasonLeaveField.errors"
                 [touched]="reasonLeaveField.touched"
                 [dirty]="reasonLeaveField.dirty">
          </small>
        </div>

        <div class="field">
            <label for="worked" appLabel label="Trabajó:"
                   [valid]="workedField.valid"
                   [touched]="workedField.touched"
                   [dirty]="workedField.dirty">
            </label>
            <input pInputText id="worked" formControlName="reasonLeave">
            <small appErrorMessage
                   [errors]="reasonLeaveField.errors"
                   [touched]="reasonLeaveField.touched"
                   [dirty]="reasonLeaveField.dirty">
            </small>
          </div>
        <div class="formgrid grid">
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
                <label for="endedAt" appLabel label="Fecha de Fin:"
                       [valid]="endedAtField.valid"
                       [touched]="endedAtField.touched"
                       [dirty]="endedAtField.dirty">
                </label>
                <p-calendar id="endedAt" formControlName="endedAt" dateFormat="yy-mm-dd"
                            [yearRange]="'1900:2021'"
                            [showIcon]="true"
                            [minDate]="startedAtField.value"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [readonlyInput]="true"></p-calendar>
                <small appErrorMessage
                       [errors]="endedAtField.errors"
                       [touched]="endedAtField.touched"
                       [dirty]="endedAtField.dirty">
                </small>
              </div>
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="startedAt" appLabel label="Fecha de Inicio:"
                   [required]="true"
                   [valid]="startedAtField.valid"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </label>
            <p-calendar id="startedAt" formControlName="startedAt" dateFormat="yy-mm-dd"
                        [yearRange]="'1900:2021'"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="startedAtField.errors"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12" *ngIf="progressBar">
            <p-progressBar mode="indeterminate"></p-progressBar>
            <small>Procesando...</small>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
