<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div *ngIf="!loadingSkeleton" class="p-fluid">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="area" appLabel label="Area de estudios:"
                   [required]="isRequired(areaField)"
                   [valid]="areaField.valid"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </label>
            <p-dropdown id="area"
                        dataKey="id"
                        [options]="areas"
                        formControlName="area"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="areaField.value">
                  <div>{{areaField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="areaField.errors"
                   [touched]="areaField.touched"
                   [dirty]="areaField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="employer" appLabel label="Nombre del empleador o empresa:"
                   [required]="isRequired(employerField)"
                   [valid]="employerField.valid"
                   [touched]="employerField.touched"
                   [dirty]="employerField.dirty"></label>
            <input pInputText id="employer" formControlName="employer" class="text-uppercase">
            <small appErrorMessage
                   [errors]="employerField.errors"
                   [touched]="employerField.touched"
                   [dirty]="employerField.dirty">
            </small>
          </div>
        </div>
        <div class="field">
          <label for="position" appLabel label="Cargo:"
                 [required]="isRequired(positionField)"
                 [valid]="positionField.valid"
                 [touched]="positionField.touched"
                 [dirty]="positionField.dirty">
          </label>
          <input pInputText id="position" formControlName="position" class="text-uppercase">
          <small appErrorMessage
                 [errors]="positionField.errors"
                 [touched]="positionField.touched"
                 [dirty]="positionField.dirty">
          </small>
        </div>
        <div class="formgrid grid">
          <div class="field xl:col-2 lg:col-2 md:col-12 sm:col-12">
            <label appLabel label="Actividades realizadas:"
                   [required]="isRequired(activitiesField)"
                   [valid]="activitiesField.valid"
                   [touched]="activitiesField.touched"
                   [dirty]="activitiesField.dirty">
            </label>
          </div>
          <div class="field xl:col-2 lg:col-2 md:col-12 sm:col-12">
            <button pButton pRipple type="button" label="Añadir" class="p-button-secondary p-button-rounded"
                    icon="pi pi-plus"
                    (click)="addActivity()"></button>
          </div>
        </div>
        <div formArrayName="activities">
          <div *ngFor="let activity of activitiesField.controls; let i = index;">
            <div class="formgrid grid">
              <div class="field xl:col-2 lg:col-2 md:col-12 sm:col-12">
                <label [for]="'activity'+i" appLabel [label]="'Actividad ' + (i + 1) + ':'"
                       [required]="isRequired(activitiesField.controls[i])"
                       [valid]="activitiesField.controls[i].valid"
                       [touched]="activitiesField.controls[i].touched"
                       [dirty]="activitiesField.controls[i].dirty"></label>
              </div>
              <div class="field xl:col-9 lg:col-9 md:col-12 sm:col-12">
                <input pInputText [id]="'activity'+i" [formControlName]="i" class="text-uppercase">
                <small appErrorMessage
                       [errors]="activitiesField.controls[i].errors"
                       [touched]="activitiesField.controls[i].touched"
                       [dirty]="activitiesField.controls[i].dirty">
                </small>
              </div>
              <div class="field xl:col-1 lg:col-1 md:col-12 sm:col-12">
                <button pButton pRipple type="button" (click)="removeActivity(i)" iconPos="right" icon="pi pi-trash"
                        class="p-button-danger p-button-rounded"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="worked" appLabel label="¿Ya no trabaja actualmente?"
                 [required]="isRequired(workedField)"
                 [valid]="workedField.valid"
                 [touched]="workedField.touched"
                 [dirty]="workedField.dirty">
          </label>
          <p>
            <p-inputSwitch id="worked" formControlName="worked"></p-inputSwitch>
          </p>
          <small appErrorMessage
                 [errors]="workedField.errors"
                 [touched]="workedField.touched"
                 [dirty]="workedField.dirty">
          </small>
        </div>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="startedAt" appLabel label="Fecha de inicio:"
                   [required]="isRequired(startedAtField)"
                   [valid]="startedAtField.valid"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </label>
            <p-calendar id="startedAt" formControlName="startedAt" dateFormat="yy-mm-dd"
                        [yearRange]="'1900:2021'"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="startedAtField.errors"
                   [touched]="startedAtField.touched"
                   [dirty]="startedAtField.dirty">
            </small>
          </div>
          <div *ngIf="workedField.value" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="endedAt" appLabel label="Fecha de fin:"
                   [required]="isRequired(endedAtField)"
                   [valid]="endedAtField.valid"
                   [touched]="endedAtField.touched"
                   [dirty]="endedAtField.dirty">
            </label>
            <p-calendar id="endedAt" formControlName="endedAt" dateFormat="yy-mm-dd"
                        [yearRange]="'1900:2021'"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="endedAtField.errors"
                   [touched]="endedAtField.touched"
                   [dirty]="endedAtField.dirty">
            </small>
          </div>
        </div>
        <div *ngIf="workedField.value" class="field">
          <label for="reasonLeave" appLabel label="Razón de la salida:"
                 [required]="isRequired(reasonLeaveField)"
                 [valid]="reasonLeaveField.valid"
                 [touched]="reasonLeaveField.touched"
                 [dirty]="reasonLeaveField.dirty">
          </label>
          <textarea pInputTextarea id="reasonLeave" formControlName="reasonLeave" class="text-uppercase"></textarea>
          <small appErrorMessage
                 [errors]="reasonLeaveField.errors"
                 [touched]="reasonLeaveField.touched"
                 [dirty]="reasonLeaveField.dirty">
          </small>
        </div>
        <p-divider></p-divider>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
