<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <label for="username">Usuario:</label>
  <input pInputText id="username" formControlName="username">
  <div *ngIf="usernameField.invalid && (usernameField.touched || usernameField.dirty)">
    falta el campo
  </div>
  <label for="password">Contraseña:</label>
  <input pInputText id="password" formControlName="password">
  <div *ngIf="passwordField.invalid && (passwordField.touched || passwordField.dirty)">
    falta el campo
  </div>
  <div *ngIf="deviceNameField.invalid && (deviceNameField.touched || deviceNameField.dirty)">
    falta el campo
  </div>
  <button pButton type="submit" id="btnSubmit" label="Ingresar" [icon]="primeIcons.ARROW_CIRCLE_RIGHT"></button>
</form>
