<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>

<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div *ngIf="!loadingSkeleton" class="p-fluid">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="type" appLabel label="Tipo de habilidad:"
                   [required]="isRequired(typeField)"
                   [valid]="typeField.valid"
                   [touched]="typeField.touched"
                   [dirty]="typeField.dirty">
            </label>
            <p-dropdown id="type"
                        dataKey="id"
                        [options]="types"
                        formControlName="type"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="typeField.value">
                  <div>{{typeField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="typeField.errors"
                   [touched]="typeField.touched"
                   [dirty]="typeField.dirty">
            </small>
          </div>
        </div>

        <div class="field">
          <label for="description" appLabel label="Descripción:"
                 [required]="isRequired(descriptionField)"
                 [valid]="descriptionField.valid"
                 [touched]="descriptionField.touched"
                 [dirty]="descriptionField.dirty">
          </label>
          <textarea pInputTextarea id="description" formControlName="description" class="text-uppercase"
                    placeholder="Habilidades blandas: Comunicación, Flexibilidad | Habilidades duras: Competencia en un idioma extranjero, Habilidad para los negocios"></textarea>
          <small appErrorMessage
                 [errors]="descriptionField.errors"
                 [touched]="descriptionField.touched"
                 [dirty]="descriptionField.dirty">
          </small>
        </div>

        <p-divider></p-divider>

        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div *ngIf="progressBar" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
