<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!loadingSkeleton">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="institution" appLabel label="Instituto:"
                   [required]="isRequired(institutionField)"
                   [valid]="institutionField.valid"
                   [touched]="institutionField.touched"
                   [dirty]="institutionField.dirty">
            </label>
            <p-dropdown id="institution"
                        [options]="institutions"
                        formControlName="institution"
                        dataKey="id"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="institutionField.value">
                  <div>{{institutionField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}} </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="institutionField.errors"
                   [touched]="institutionField.touched"
                   [dirty]="institutionField.dirty">
            </small>
          </div>
          <div *ngIf="institutionField.value" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="career" appLabel label="Carrera:"
                   [required]="isRequired(careerField)"
                   [valid]="careerField.valid"
                   [touched]="careerField.touched"
                   [dirty]="careerField.dirty">
            </label>
            <p-dropdown id="career"
                        [options]="careers"
                        formControlName="career"
                        dataKey="id"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="careerField.value">
                  <div>{{careerField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}} </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="careerField.errors"
                   [touched]="careerField.touched"
                   [dirty]="careerField.dirty">
            </small>
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="professionalDegree" appLabel label="Título:"
                   [required]="isRequired(professionalDegreeField)"
                   [valid]="professionalDegreeField.valid"
                   [touched]="professionalDegreeField.touched"
                   [dirty]="professionalDegreeField.dirty">
            </label>
            <p-dropdown id="professionalDegree"
                        [options]="professionalDegrees"
                        formControlName="professionalDegree"
                        dataKey="id"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="professionalDegreeField.value">
                  <div>{{professionalDegreeField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}} </div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="professionalDegreeField.errors"
                   [touched]="professionalDegreeField.touched"
                   [dirty]="professionalDegreeField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="certificated" appLabel label="¿Está titulado?"
                   [required]="isRequired(certificatedField)"
                   [valid]="certificatedField.valid"
                   [touched]="certificatedField.touched"
                   [dirty]="certificatedField.dirty">
            </label>
            <p>
              <p-inputSwitch id="certificated" formControlName="certificated"></p-inputSwitch>
            </p>
            <small appErrorMessage
                   [errors]="certificatedField.errors"
                   [touched]="certificatedField.touched"
                   [dirty]="certificatedField.dirty">
            </small>
          </div>
        </div>
        <div *ngIf="certificatedField.value" class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="senescytCode" appLabel label="Código Senescyt:"
                   [required]="isRequired(senescytCodeField)"
                   [valid]="senescytCodeField.valid"
                   [touched]="senescytCodeField.touched"
                   [dirty]="senescytCodeField.dirty"></label>
            <input pInputText id="senescytCode" formControlName="senescytCode">
            <small appErrorMessage
                   [errors]="senescytCodeField.errors"
                   [touched]="senescytCodeField.touched"
                   [dirty]="senescytCodeField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <label for="registeredAt" appLabel label="Fecha de registro:"
                   [required]="isRequired(registeredAtField)"
                   [valid]="registeredAtField.valid"
                   [touched]="registeredAtField.touched"
                   [dirty]="registeredAtField.dirty">
            </label>
            <p-calendar id="registeredAt" formControlName="registeredAt" dateFormat="yy-mm-dd"
                        [yearRange]="yearRange"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [readonlyInput]="true"></p-calendar>
            <small appErrorMessage
                   [errors]="registeredAtField.errors"
                   [touched]="registeredAtField.touched"
                   [dirty]="registeredAtField.dirty">
            </small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div *ngIf="progressBar" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>
