<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!loadingSkeleton">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="idiom" appLabel label="Idioma:"
                   [required]="isRequired(idiomField)"
                   [valid]="idiomField.valid"
                   [touched]="idiomField.touched"
                   [dirty]="idiomField.dirty">
            </label>
            <p-dropdown id="idiom"
                        dataKey="id"
                        [options]="idioms"
                        formControlName="idiom"
                        [filter]="true"
                        filterBy="idiom"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="idiomField.value">
                  <div>{{idiomField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="idiomField.errors"
                   [touched]="idiomField.touched"
                   [dirty]="idiomField.dirty">
            </small>
          </div>
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
<!--            <button pButton pRipple type="button" label="Adjuntar" (click)="showModalFiles()"></button>-->
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="writtenLevel" appLabel label="Nivel escrito:"
                   [required]="isRequired(writtenLevelField)"
                   [valid]="writtenLevelField.valid"
                   [touched]="writtenLevelField.touched"
                   [dirty]="writtenLevelField.dirty">
            </label>
            <p-dropdown id="writtenLevel"
                        dataKey="id"
                        [options]="writtenLevels"
                        formControlName="writtenLevel"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="writtenLevelField.value">
                  <div>{{writtenLevelField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="writtenLevelField.errors"
                   [touched]="writtenLevelField.touched"
                   [dirty]="writtenLevelField.dirty">
            </small>
          </div>
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="spokenLevel" appLabel label="Nivel hablado:"
                   [required]="isRequired(spokenLevelField)"
                   [valid]="spokenLevelField.valid"
                   [touched]="spokenLevelField.touched"
                   [dirty]="spokenLevelField.dirty">
            </label>
            <p-dropdown id="spokenLevel"
                        dataKey="id"
                        [options]="spokenLevels"
                        formControlName="spokenLevel"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="spokenLevelField.value">
                  <div>{{spokenLevelField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="spokenLevelField.errors"
                   [touched]="spokenLevelField.touched"
                   [dirty]="spokenLevelField.dirty">
            </small>
          </div>
          <div class="field xl:col-4 lg:col-4 md:col-12 sm:col-12">
            <label for="readLevel" appLabel label="Nivel lectura:"
                   [required]="isRequired(readLevelField)"
                   [valid]="readLevelField.valid"
                   [touched]="readLevelField.touched"
                   [dirty]="readLevelField.dirty">
            </label>
            <p-dropdown id="readLevel"
                        dataKey="id"
                        [options]="readLevels"
                        formControlName="readLevel"
                        [filter]="true"
                        filterBy="name"
                        placeholder="Seleccione">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="readLevelField.value">
                  <div>{{readLevelField.value?.name}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div class="country-item">
                  <div>{{item.name}}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small appErrorMessage
                   [errors]="readLevelField.errors"
                   [touched]="readLevelField.touched"
                   [dirty]="readLevelField.dirty">
            </small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <button pButton pRipple [label]="buttonTitle" class="p-button-rounded" icon="pi pi-save"></button>
          </div>
          <div *ngIf="progressBar" class="field xl:col-6 lg:col-6 md:col-12 sm:col-12">
            <app-progress-bar [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
          </div>
        </div>
      </form>
    </div>
  </p-card>
</div>

<p-dialog header="Gestionar Archivos" [(visible)]="displayModalFiles" [modal]="true">
  <app-view-files [acceptAttributes]="'.pdf'"
                  [loadingUpload]="loadingUploadFiles"
                  [filesIn]="files"
                  [loadingFiles]="loadingFiles"
                  [paginatorIn]="paginatorFiles"
                  (files)="uploadFile($event)"
                  (paginatorOut)="loadFiles()"
                  (searchOut)="filterFiles.setValue($event);loadFiles()">
  </app-view-files>
</p-dialog>
