<div class="container-fluid">
  <p-toolbar *ngIf="!loadingSkeleton" styleClass="bg-primary">
    <div class="p-toolbar-group-left">
      <h3 class="ml-2">{{title}}</h3>
    </div>
    <div class="p-toolbar-group-right">
      <app-progress-bar *ngIf="progressBar" [message]="messageService.progressBarSaveOrUpdate"></app-progress-bar>
      <i *ngIf="form.touched || form.dirty" class="pi pi-check p-button p-button-text" (click)="onSubmit()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormSaveOrUpdate"></i>
      <i class="pi pi-times p-button p-button-text" (click)="returnList()"
         style="font-size: 2rem; color: #fff" [pTooltip]="messageService.buttonFormClose"></i>
    </div>
  </p-toolbar>
</div>
<div class="container">
  <app-skeleton *ngIf="loadingSkeleton" [type]="'card'"></app-skeleton>
  <p-card>
    <div class="p-fluid" *ngIf="!loadingSkeleton">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Nombre del Estado -->
        <div class="formgrid grid">
          <label for="name" appLabel label="Nombre del Estado:"
                 [required]="isRequired(nameField)"
                 [valid]="nameField.valid"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty"></label>
          <input pInputText id="name" formControlName="name" class="text-uppercase">
          <small appErrorMessage
                 [errors]="nameField.errors"
                 [touched]="nameField.touched"
                 [dirty]="nameField.dirty">
          </small>
        </div>
        <!-- Codigo del Estado -->
        <div class="formgrid grid">
          <label for="code" appLabel label="Codigo del Estado:"
                 [required]="isRequired(codeField)"
                 [valid]="codeField.valid"
                 [touched]="codeField.touched"
                 [dirty]="codeField.dirty"></label>
          <input pInputText id="code" formControlName="code" class="text-uppercase">
          <small appErrorMessage
                 [errors]="codeField.errors"
                 [touched]="codeField.touched"
                 [dirty]="codeField.dirty">
          </small>
        </div>
      </form>
    </div>
  </p-card>
</div>
